<!DOCTYPE html>

        <html>
        <head>
     
           <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        
        <div class="form-group text-center">
                   
                                       <p><strong>Top 10 Lenguajes de programacion</strong></p>
                </div>
        </head>
        <body>
<p>lenguajes de programacion</p>
<span>La tecnología y con ella las nuevas formas de relacionarnos, avanzan velozmente. Los </span>
<span>lenguajes de programación más usados</span>
<span> son herramientas claves de la actualidad y futuro digital que nos rodea</span>
<h2>1. Java</h2>
<p>Reconocido por su legibilidad y simplicidad, <strong>Java es uno de los lenguajes de programación más adoptados</strong>: más 9 millones de desarrolladores lo usan y está presente en 7 mil millones de dispositivos en todo el mundo. Desde 2001 se mantiene en las primeras posiciones.</p>
<p>Su enorme popularidad se debe a su poder de permanencia, cuestión que asegura el funcionamiento a largo plazo de las aplicaciones que lo utilizan.&nbsp;</p>
<h2>2. C</h2>
<p>Creado entre&nbsp;1969&nbsp;y&nbsp;1972&nbsp;en los&nbsp;Laboratorios Bell, <strong>es uno de los más utilizados en el mundo</strong>. Si bien es ejecutado en la mayoría de los sistemas operativos, es de propósito general, con lo cual es muy flexible.</p>
<p>Es muy popular para el desarrollo de aplicaciones de escritorio, como el conocido editor gráfico GIMP.&nbsp;</p>
<h2>3. Python</h2>
<p>Un <strong>lenguaje de programación multiplataforma y multiparadigma</strong>, que también es de propósito general y&nbsp;<b id="docs-internal-guid-84a33a97-7fff-6b74-9c2e-cead503f049b"><span>&nbsp;</span><span>el año pasado ha superado al que conocerás en el puesto número.<br></span></b>Su simpleza, legibilidad y similitud con el idioma inglés lo convierten en un gran lenguaje ideal para principiantes<b id="docs-internal-guid-84a33a97-7fff-6b74-9c2e-cead503f049b"><span><br></span></b></p>
<h2>4. C++</h2>
<span>Conocido por el nombre “C Plus Plus”, se orienta a objetos surge como una continuación y ampliación del C. Hay una gran cantidad de programas escritos en C++, como por ejemplo los paquetes de Adobe.</span>
<h2>5. C#&nbsp;</h2>
<p>También <strong>llamado</strong>&nbsp;<strong>“C Sharp”</strong>, está orientado a objetos y fue desarrollado en el año 2000 por Microsoft para ser empleado en una amplia gama de aplicaciones empresariales ejecutadas en el&nbsp;framework&nbsp;.NET. C Sharp es una evolución del C y C++ que <strong>se destaca por su sencillez y modernidad.</strong></p>
<h2>6. Visual Basic. NET</h2>
<p>Ha<b id="docs-internal-guid-2636e7c4-7fff-993c-aad0-9c929877b98f"><span> ascendido del número 9 en junio de 2016 al sexto lugar en 2017</span></b><span> siendo utilizado por una gran cantidad de personas que no cuentan con conocimientos profundos como desarrolladores, quienes encuentran en visual basic, además de una sintaxis sencilla, la posibilidad de automatizar sus propios procesos y crear sus propias aplicaciones web.</span></p>
<h2>7. JavaScript</h2>
<p>No debemos confundirlo con Java. Son lenguajes distintos. Javascript es un lenguaje de programación que puede ser <strong>utilizado para crear programas que luego son acoplados a una página web o dentro de programas más grandes</strong>. Sirve para crear efectos y realizar acciones interactivas.<br><b></b></p>
<div id="ad-inpost-6" style="margin:15px auto 15px auto !important;text-align: center;"></div>
<p dir="ltr"><span>Podemos ver funcionando este lenguaje en servicios de chat, calculadoras o buscadores de información.</span></p>
<h2>8. PHP</h2>
<p>Creado en 1994 por el programador canadiende Rasmus Lerdorf, con la intención de contar con un<b id="docs-internal-guid-ab86883e-7fff-3f3c-ef5d-3ba829495c41"><span>conjunto de herramientas para el mantenimiento de las páginas web y no como lenguaje</span><span>.</span></b>.</p>
<p>Es de fácil acceso para nuevos programadores y a su vez ofrece&nbsp;grandes herramientas a los más experimentados.</p>
<div id="ad-inpost-7" style="margin:15px auto 15px auto !important;text-align: center;"></div>
<h2>9. SWIFT</h2>
<p>Se trata de un <strong>lenguaje multiparadigma creado por Apple</strong> y focalizado en el desarrollo de aplicaciones para iOS y macOS.? A partir de su presentación en el año 2014, se ha <strong>convertido en código abierto</strong> y el <strong>índice Thiobe</strong>, a diferencia de otros años, lo ha ubicado en este puesto por ser uno de los l<strong>enguajes de programación más usados</strong> actualmente.</p>
	<h2>10. SQL</h2>
	<p>Este lenguaje de programación ha sido <strong>diseñado para administrar, proteger y recuperar los datos de sistemas de gestión de información</strong>, lo cual ha sido utilizado fuertemente en los últimos años a partir del desarrollo de la ciberseguridad</p>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
 
</html>
